
#soggy {
    width:750px;
    HEIGHT:1150px;
    BACKGROUND-COLOR: BLACK;
    }

body {
    background-color: black;
    }

.snerp {
    width: 120px;
    height: 40px;
    display: block;
    background-color: red;
    text-align: center;
    color: gray;
    text-decoration: none;
    margin:0 auto;
    }
  
.snerp:hover{
    color: gray;
    background-color: red
     }